In [1]:
import dask.dataframe
import pandas as pd
from pprint import pprint
import numpy as np

In [2]:

# df_addresses = pd.read_csv('./dataset/adresses-01.csv', delimiter=';', low_memory=False)
# df_addresses = pd.read_csv('./dataset/adresses-france.csv', delimiter=';', low_memory=False, index_col=0, usecols=['id', 'numero', 'rep', 'nom_voie', 'code_postal', 'nom_commune', 'alias', 'nom_ld', 'libelle_acheminement', 'nom_afnor'])

df = dask.dataframe.read_csv('./dataset/adresses-france.csv', blocksize="100MB", on_bad_lines='skip', delimiter=';',
                             low_memory=False, dtype={'id_fantoir': 'object',
                                                      'nom_ancienne_commune': 'object',
                                                      'nom_ld': 'object',
                                                      'rep': 'object',
                                                      'code_postal': 'object',
                                                      'code_insee': 'object'})
df.to_parquet('./dataset/adresses-france.csv'.replace(".csv", ".parquet"))

In [2]:
df = dask.dataframe.read_parquet('./dataset/adresses-france.parquet')

In [4]:
df = df[['id','numero','rep','nom_voie','code_postal','nom_commune','nom_ld']]

In [7]:
df = df.replace(np.nan, '', regex=True)
df = df.replace('_1', '', regex=True)

In [9]:
df.drop_duplicates(['rep', 'nom_voie', 'nom_commune', 'nom_ld'])

Dask DataFrame Structure:
                    id numero     rep nom_voie code_postal nom_commune  nom_ld
npartitions=47
                string  int64  string   string      string      string  string
                   ...    ...     ...      ...         ...         ...     ...
...                ...    ...     ...      ...         ...         ...     ...
                   ...    ...     ...      ...         ...         ...     ...
                   ...    ...     ...      ...         ...         ...     ...
Dask Name: dropduplicates, 5 expressions
Expr=DropDuplicates(frame=Replace(frame=Replace(frame=ReadParquetFSSpec(ab35767)[['id', 'numero', 'rep', 'nom_voie', 'code_postal', 'nom_commune', 'nom_ld']], to_replace=nan, value='', regex=True), to_replace='_1', value='', regex=True), subset=['rep', 'nom_voie', 'nom_commune', 'nom_ld'])

In [10]:
df.head()

,id,numero,rep,nom_voie,code_postal,nom_commune,nom_ld
0,01001_4b50r5_00630,630,,la Chèvre,01400,L'Abergement-Clémenciat,
1,01001_g0ru02_00108,108,,Clemencia,01400,L'Abergement-Clémenciat,
2,01001_ngzlqw_00009,9,,Imp des Epis,01400,L'Abergement-Clémenciat,
3,01001_ngzlqw_00023,23,,Imp des Epis,01400,L'Abergement-Clémenciat,
4,01001_ngzlqw_00026,26,,Imp des Epis,01400,L'Abergement-Clémenciat,

In [11]:
df.shape

(<dask_expr.expr.Scalar: expr=(Replace(frame=Replace(frame=ReadParquetFSSpec(ab35767)[['id', 'numero', 'rep', 'nom_voie', 'code_postal', 'nom_commune', 'nom_ld']], to_replace=nan, value='', regex=True), to_replace='_1', value='', regex=True)).size() / 7, dtype=float64>,
 7)

In [8]:
df_addresses = pd.read_parquet('./dataset/adresses-france.parquet')

In [10]:
df_addresses.drop(
    columns=['id_fantoir', 'code_insee', 'code_insee_ancienne_commune', 'nom_ancienne_commune', 'x', 'y', 'lon', 'lat', 'alias',
             'type_position', 'source_position', 'source_nom_voie', 'certification_commune', 'cad_parcelles', 'libelle_acheminement', 'nom_afnor'],
    inplace=True)

In [12]:
df_addresses.replace(np.nan, '', regex=True, inplace=True)
df_addresses.replace('_1', '', regex=True, inplace=True)

In [13]:
df_addresses.drop_duplicates(['rep', 'nom_voie', 'nom_commune', 'nom_ld'], inplace=True)
df_addresses.shape

(3393705, 7)

In [14]:
df_addresses.head(100)

,id,numero,rep,nom_voie,code_postal,nom_commune,nom_ld
__null_dask_index__,,,,,,,
0,01001_4b50r5_00630,630,,la Chèvre,01400,L'Abergement-Clémenciat,
1,01001_g0ru02_00108,108,,Clemencia,01400,L'Abergement-Clémenciat,
2,01001_ngzlqw_00009,9,,Imp des Epis,01400,L'Abergement-Clémenciat,
12,01001_0165_00019,19,,Route de la Fontaine,01400,L'Abergement-Clémenciat,
43,01001_0165_00080_bis,80,bis,Route de la Fontaine,01400,L'Abergement-Clémenciat,
...,...,...,...,...,...,...,...
576,01002_0140_00008,8,,Chemin du Lavoir,01640,L'Abergement-de-Varey,
586,01002_0095_00037,37,,Ruelle de la Flotiere,01640,L'Abergement-de-Varey,
591,01002_0295_00020,20,,Route des Vignes,01640,L'Abergement-de-Varey,
598,01002_0145_00002,2,,Chemin Louis Lumiere,01640,L'Abergement-de-Varey,
603,01002_0160_00028,28,,Rue du Moulin,01640,L'Abergement-de-Varey,

In [15]:
df_addresses.to_parquet('./dataset/adresses-france-cleaned.parquet')